<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row g-4">
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+237 672 558 082<br>
							<p>+237 658 138 595<br>
								<a href="mailto:#">yobamarc1@gmail.com</a><br>
								<br>
								237 Cameroun
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow me</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fab fa-twitter fa-2x"></i></a>
								<a href=""><i class="fab fa-dribbble fa-2x"></i></a>
								<a href=""><i class="fab fa-github fa-2x"></i></a>
								<a href=""><i class="fab fa-facebook-f fa-2x"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">GIRH</h3>
						<div class="widget-body">
							<p> Logistique de Gestion Intégrée des Ressources Humaines</p>
							<p>est un concept puissant qui considère la fonction RH non pas comme une
							 série de tâches administratives isolées, mais comme un système stratégique, cohérent et fluide</p>
						</div>
					</div>
				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row g-3 align-items-center">
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="{{path('app_home')}}">Home</a> | 
								<a href="{{path('app_about')}}">About</a> |
								<a href="sidebar-right.html">Sidebar</a> |
								<a href="{{path('app_contact')}}">Contact</a> |
								<b><a href="{{path('app_logout')}}">Sign up</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-md-end">
								Production &copy; {{ "now" | date("Y-m-d")}} </a> 
							</p>
						</div>
					</div>
				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>